html, body {
    background-color: #a5c1ce;
    margin: 0;
    padding: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
}

.main {
    max-width: 50%;
    margin: auto;
}

.container-section {
    color: #385555; /*#385555*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-section-title {
    text-align: center;
    font-size: 32px;
    margin: 0;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.container-section-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 16px; /*Inseri pela*/
    margin: 0;
    padding: 0;
    height: 450px;
}

.list-items {
    display: block;
    background-image: url("imagens/thumb02.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    margin: 10px;
    height: 220px;
    width: 180px;
    align-content: flex-end;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 1px black;
}

.list__img img {
    border-radius: 50%;
    width: 55px;
}

.list__name-title {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.list__name-email {
    font-size: 11px;
    margin: 0;
    text-align: center;
    padding-bottom: 5px;
}

.list-items .list__edit {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #cccccc73;  
    padding-top: 5px;
}

.list-items .list__edit a {
    padding: 5px 10px;
    margin: 0px 15px;
    opacity: .2;
}

.list-items .list__edit a:hover {
    opacity: .5;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}